* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    background-color: #87ceeb;
    margin: 0;
}

.Container-Main {
    width: 100%;
    background-color: yellow   ;
}

.socialMedia {
    text-align: right;
    position: relative;
}

.fa-facebook, .fa-linkedin, a{
    background-color: rgb(31, 134, 175);
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.fa-instagram {
    background-color: rgba(238, 41, 41, 0.815);
}

.fa-github {
    background-color: black;
}

a {
    background-color: rgb(34, 175, 34);
}

.fa:hover{
    opacity: 0.6;
}

a {
    padding: 10px;
}

.containerBody {
    background-color: #3333;
}

.links {
    text-align: center;
}

.header, .links, .footer{
    padding: 20px;
}


.footer {
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #87ceeb;
}